<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
	<br/>
	<p>This Splurty site was built by Tina Zinser during her <a href="http://www.thefirehoseproject.com">firehose project</a> training.  Previously a C# application developer and database administrator, she has made the move to web based development.</p>

	<br />
	

	 <div class="col-xs-12 col-sm-4">
    	<%= image_tag 'Anime_Female_Killer_021026_.jpg', :class => 'img-responsive' %>
  	</div>
  	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
  		<h2 class="text-center">Tina Zinser</h2>
  		<br/>
  		<p>Tina Zinser is a proud wife, mother of two, avid gamer, and technology lover.  Thanks for visiting my site.</p>
  	</div>
</div>

<br class="clear" />
<br />
<br />
<br />